<h1>Rock Paper Scissor</h1>
<h3>Enter your name below to start playing.</h3>

<form action="/play" method="post">
  <input name="player1" id="player1" placeholder="Player1's Name">
  <input name="player2" id="player2" placeholder="Player2's Name">
  <button type="submit" name="button">Start Playing</button>
</form>
